/* stili generali */

:root{
    font-size: 14px;
}


/* DEBUG */

[class*="col-"] {
    background-color: blue;
    border: 2px solid white;
    min-height: 40px;
}

.space{
    margin-bottom: 30px;
}